/*.octodex {
  width: 600px;
  margin: 0;
}*/

/*img {
  width: 100px;
  height: 100px;
  /*float: left;*/
/*}
.octocat {
  width: 100px;
  height: 100px;
  list-style: none;



}
/*.class {*/
  /*margin-left: auto;*/
/*}*/
/*.image-footer {
  width: 10px;
  margin: 0px;*/
.octocat {

  float: left;
  list-style: none;
}
.octocat img {
  width: 300px;
  border: 1px solid grey;
  margin: 10px;

}
.authors img {
  width: 30px;
  float: right;
  margin: 0px;

}
.image-caption {
float: right;
clear:


}
.authors {
  display: inline-block;

}
.authors li {
  list-style: none;

  }
  .image-footer {
    border-bottom: 1px solid lightgrey
  }
  .image-number {
    color: grey;
  }
  span {
    color: grey;
  }
